Source: ros-noetic-ros-introspection
Section: misc
Priority: optional
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-roslint, ros-noetic-rosmsg
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-ros-introspection
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-requests, python3-rospkg, python3-yaml, ros-noetic-rosmsg
Description: The ros_introspection package
