Source: ros-melodic-ros-introspection
Section: misc
Priority: optional
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-roslint, ros-melodic-rosmsg
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-ros-introspection
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-requests, python-rospkg, python-yaml, ros-melodic-rosmsg
Description: The ros_introspection package
